/* styles.css */
.PopoverTrigger {
    background-color: white;
    border-radius: 4px;
}

.PopoverContent {
    border-radius: 4px;
    padding: 20px;
    width: 260px;
    background-color: white;
}

.PopoverArrow {
    fill: white;
}

.radix-theme {
    max-width: none;
    /* または必要な横幅に変更 */
}